<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link href="http://atencionciudadana.elalto.gob.bo/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Atención Ciudadana</title>
</head>
<body>

<!-- =============================================== -->
<!-- MENU -->
<!-- =============================================== -->

    



<!-- =============================================== -->
<!--CONTENIDO -->
<!-- =============================================== -->
<div id="contidoPrincipal" >

    
    <section class="mt-5 d-flex flex-column justify-content-center align-items-center pt-3  text-center w-50 m-auto" id="intro">
        <span class="text-danger fw-bold">Trámites y servicios</span>
        <!-- <button routerLink="/registro/documentacion">mas</button> -->

        <p data-aos="fade-down" class="pt-3  fs-2">
        </p>
        
    </section>

    <section >
        
        <div class="container">
            <div id="contenidoCategorias" class="row">
                                              <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/coche.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Rebajita tributaria</h5>
                                      <p class="card-text">Es una condonación de multas e intereses</p>
                                      <a routerLink="/registro/documentacion" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2" >Requisitos</a>
                                    </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/tramite.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Cambio de radicatoria</h5>
                                      <p class="card-text">Cambio de radicación del vehículo de un determinado Gobierno Municipal a otro, (en este caso de cualquier municipio al municipio de El Alto)</p>
                                       <a routerLink="/registro/radicatoria" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                      </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/contrato.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Descuento servicio público vehículos</h5>
                                      <p class="card-text">Es un beneficio  del 50% de descuento del impuesto por el servicio de pasajeros y carga</p>
                                      <a routerLink="/registro/descuento" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                    </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/placa.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Duplicado de placa</h5>
                                      <p class="card-text">Se trata del duplicado de la placa, el cual se lo realiza por deterioro, pérdida o robo</p>
                                      <a routerLink="/registro/duplicado" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/documento.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Duplicado RUA 03 y/o CRPVA (Certificado de Registro de Propiedad de Vehículo Automotor)</h5>
                                      <p class="card-text">Es el duplicado del CRPVA</p>
                                      <a routerLink="/registro/dupropiedad" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/dup.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Inscripción importación directa</h5>
                                      <p class="card-text">Es el registro de vehículos importados por la Aduana Nacional</p>
                                      <a routerLink="/registro/inscripcion" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/planificador.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Inscripción con factura comercial</h5>
                                      <p class="card-text">Es el registro de vehículos importados por una casa comercial</p>
                                      <a routerLink="/registro/insfactura" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/objetivos.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Modificación de datos técnicos</h5>
                                      <p class="card-text">Es el trámite en el cual se modifica el motor, color y otros datos técnicos que se encuentran registrados en el RUA 03 y/o  CRPVA</p>
                                      <a routerLink="/registro/datostecnicos" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/tramite.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Modificación de datos técnicos cambio de estructura</h5>
                                      <p class="card-text">Es el trámite en el cual se modifica la estructura del vehículo (clase) Ejemplo: de minibús a camioneta</p>
                                      <a routerLink="/registro/modestructura" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/notas.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Transferencia especial</h5>
                                      <p class="card-text">Es el cambio de titular del RUA 03 y/o CRPVA por declaratoria de herederos, anticipo de legítima, aporte de capital, primera venta, por leasing back(cuando la compra se lo realiza mediante banco), donación y otros</p>
                                      <a routerLink="/registro/trespecial" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/porta.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Transferencia normal persona natural</h5>
                                      <p class="card-text">Es el cambio de titular del RUA 03 y/o CRPVA mediante una Minuta de transferencia</p>
                                      <a routerLink="/registro/trnatural" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/notas.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Transferencia normal persona jurídica</h5>
                                      <p class="card-text">Es el cambio de titular del RUA 03 y/o CRPVA mediante una Minuta de transferencia</p>
                                      <a routerLink="/registro/trjuridica" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/escritura.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Valor libros</h5>
                                      <p class="card-text">Es el registro de la base imponible de los Estados Financieros presentados cada año</p>
                                      <a routerLink="/registro/valor" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                                                        </div>
                              </div>
                          </div>

                                          <div  class="col-lg-4 col-md-6 col-sm-12 mb-2">
                              <div id="dentro" class="card" >
                                  <div class="card-body">
                                      <div class="images-wrapper">
                                          <img class="imgTamaño mb-0" src="assets/demo/images/iconos/material-escolar.png"  alt="...">
                                      </div>
                                      <h5 class="card-title mt-0">Valor tablas</h5>
                                      <p class="card-text">Es el registro de los Estados Financieros en base a Tablas presentados cada año, pero de instituciones u organizaciones no lucrativas</p>
                                      <a routerLink="/registro/tablas" class="fs-4 fw-bold btn btn-outline-secondary mx-4 mt-2">Requisitos</a>
                                         </div>
                              </div>
                          </div>

                
            </div>
        </div>




    </section>



</div>


</body>

    <!--========================================================== -->
    <!--FOOTER-->
    <!--========================================================== -->
    <footer class="footer-plomo w-100 d-flex align-items-center justify-content-center flex-wrap mt-1 ">
        <p class="fs-5 pt-3 fw-bold">&copy; GAM-Patacamaya Todos Los Derechos Reservados 2023</p>
            <div id="iconos" >
    
                <a href="https://www.facebook.com/ElAltoAlcaldia"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/renuevaelalto?t=9W6ixRI4MKKTbYUqmJxf6Q&s=09"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com/alcaldiaelalto/?utm_medium=copy_link"><i class="bi bi-instagram"></i></a>
            </div>
    </footer>




<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="http://atencionciudadana.elalto.gob.bo/js/main2.js" defer></script>
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });
</script>
<router-outlet></router-outlet>

</html>
