.footer-plomo {
    background-color: #d9ff00; /* Color plomo */
    color: white; /* Color del texto en el footer */
    /* Otros estilos que desees aplicar al footer */
  }
  .text-danger {
    font-size: 50px; /* Tamaño de fuente más grande */
    color: white; /* Color blanco para el texto */
    font-family: 'Gruppo', sans-serif;
    font-family: 'Pacifico', cursive;

  
    /* Ajustar el fondo para cubrir todo el ancho y alto del contenedor */
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px; /* Opcional: agregar un relleno alrededor del texto */
  }
  
  