<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="'Eliminar'" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>


    <p-table #dt [value]="products" [lazy]="true" (onLazyLoad)="loadProductos($event)" [rows]="15" [totalRecords]="totalRecords" [loading]="loading" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" [tableStyle]="{'min-width': '75rem'}"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestión Productos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <!--<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />-->
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nombre" style="min-width:10rem">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th>Foto</th>
                <th pSortableColumn="precio">Sueldo<p-sortIcon field="precio"></p-sortIcon></th>
                <th pSortableColumn="categoria_id" style="min-width:5rem">Puesto de Trabajo <p-sortIcon field="categoria"></p-sortIcon></th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.nombre}}</td>
                <td><img [src]="'assets/demo/images/patacamaya/logo.jpg' + product.imagen" [alt]="product.name" width="100" class="shadow-4" /></td>
                <td>{{product.precio | currency:'USD'}}</td>
                <td>{{product.categoria.categoria}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-media" class="p-button-rounded p-button-success mr-2" (click)="modalSubirImagenProduct(product)"></button>
                    
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total {{products ? products.length : 0 }} Trabajadores en el GAM-PATACAMAYA.
            </div>
        </ng-template>
    </p-table>

</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Nuevo Personal" [modal]="true" styleClass="p-fluid" [formGroup]="productoForm">
    <ng-template pTemplate="content" >
        <div class="field">
            <label for="name">Ingrese Nombre</label>
            <input type="text" pInputText id="name" required autofocus formControlName="nombre" />
            <!--small class="p-error" *ngIf="submitted && !product.nombre">Nombre es requerido.</small-->
        </div>
        <div class="field">
            <label for="description">Descripcion</label>
            <textarea id="description" pInputTextarea  required rows="3" cols="20" formControlName="descripcion"></textarea>
        </div>

        <div class="field">
            <label class="mb-3">Puesto de Trabajo</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6" *ngFor="let cat of categorias">
                    <p-radioButton value="{{ cat.id }}" formControlName="categoria_id"></p-radioButton>
                    <label for="category">{{ cat.categoria }}</label>
                </div>
                
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Sueldo</label>
                <p-inputNumber id="price"  mode="currency" currency="USD" locale="en-US" formControlName="precio"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="quantity"># de Trabajador</label>
                <p-inputNumber id="quantity" formControlName="stock"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar Producto" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
    {{ productoForm.value | json }}
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    

    <p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="subirImagenServidor($event)"
            accept="image/*">
    </p-fileUpload>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>