.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 200px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    
}.profile-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-email {
    font-size: 18px;
    color: #e5ff00;
    margin-bottom: 100px;
}
.fotoperfil{
width: 200px; /* Tamaño más pequeño */
height: 200px; /* Tamaño más pequeño */
border-radius: 80%;
object-fit: cover;
}
