<nav class="navbar">
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/registro" routerLinkActive="active">Atención Ciudadana</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/perfil" routerLinkActive="active">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Nosotros</a>
      </li>
      
      
    </ul>
  </nav>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  